<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="IncludeExceptionDetails">
          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WCF.MSMQ.ReceptorMensagem">
        <endpoint address="msmq.formatname:DIRECT=OS:kng\private$\teste"
          binding="msmqIntegrationBinding" bindingConfiguration="IncomingMessageHandlerBinding"
          contract="WCF.MSMQ.Interface.IReceptorMensagem" />
      </service>
    </services>
    <bindings>
      <msmqIntegrationBinding>
        <binding name="IncomingMessageHandlerBinding" closeTimeout="00:30:00" receiveTimeout="00:00:10" retryCycleDelay="00:00:10" receiveRetryCount="0" exactlyOnce="false" maxRetryCycles="3">
          <security mode="None"/>
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>